{:prods {"vyrajenie" #{["prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" "==" "prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" "<>" "prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" "<" "prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" "<=" "prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" ">" "prostoe-vyrajenie"]
                       ["prostoe-vyrajenie" ">=" "prostoe-vyrajenie"]}
         "prostoe-vyrajenie" #{["ttterm"]
                               ["+" "ttterm"]
                               ["-" "ttterm"]
                               ["prostoe-vyrajenie" "+" "ttterm"]
                               ["prostoe-vyrajenie" "-" "ttterm"]
                               ["prostoe-vyrajenie" "or" "ttterm"]}
         "ttterm" #{["faktor"]
                    ["ttterm" "*" "faktor"]
                    ["ttterm" "/" "faktor"]
                    ["ttterm" "div" "faktor"]
                    ["ttterm" "mod" "faktor"]
                    ["ttterm" "and" "faktor"]}
         "faktor" #{["идент"]
                    ["конст"]
                    ["(" "prostoe-vyrajenie" ")"]
                    ["not" "faktor"]}}
 :terms #{"==" "<>" "<" "<=" ">" ">=" "+" "-" "or" "*" "/" "div" "mod" "and" "идент" "конст" "(" ")" "not"}
 :nonterms #{"vyrajenie" "prostoe-vyrajenie" "ttterm" "faktor"}
 :start-symbol "vyrajenie"
 :subroutines {["prostoe-vyrajenie" "==" "prostoe-vyrajenie"] (print "[==] ")
               ["prostoe-vyrajenie" "<>" "prostoe-vyrajenie"] (print "[<>] ")
               ["prostoe-vyrajenie" "<" "prostoe-vyrajenie"] (print "[<] ")
               ["prostoe-vyrajenie" "<=" "prostoe-vyrajenie"] (print "[<=] ")
               ["prostoe-vyrajenie" ">" "prostoe-vyrajenie"] (print "[>] ")
               ["prostoe-vyrajenie" ">=" "prostoe-vyrajenie"] (print "[>=] ")
               ["+" "ttterm"] (print "[+] ")
               ["-" "ttterm"] (print "[-] ")
               ["prostoe-vyrajenie" "+" "ttterm"] (print "[+] ")
               ["prostoe-vyrajenie" "-" "ttterm"] (print "[-] ")
               ["prostoe-vyrajenie" "or" "ttterm"] (print "[or] ")
               ["ttterm" "*" "faktor"] (print "[*] ")
               ["ttterm" "/" "faktor"] (print "[/] ")
               ["ttterm" "div" "faktor"] (print "[div] ")
               ["ttterm" "mod" "faktor"] (print "[mod] ")
               ["ttterm" "and" "faktor"] (print "[and] ")
               ["идент"] (print "[идент] ")
               ["конст"] (print "[конст] ")
               ["not" "faktor"] (print "[not] ")
               ["(" "prostoe-vyrajenie" ")"] (print "[()] ")}
 :border-marker "$"
 :precedence-table
 {"=="    {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "<>"    {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "<"     {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "<="    {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  ">"     {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  ">="    {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}

  "+"     {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "-"     {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "or"    {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}

  "*"     {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "/"     {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "div"   {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "mod"   {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}
  "and"   {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}

  "идент" {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" nil "конст" nil "(" nil ")" ">" "not" nil   "$" ">"}
  "конст" {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" nil "конст" nil "(" nil ")" ">" "not" nil   "$" ">"}
  "("     {"==" nil "<>" nil "<" nil "<=" nil ">" nil ">=" nil   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" "=" "not" "<"   "$" nil}
  ")"     {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" nil "конст" nil "(" nil ")" ">" "not" nil   "$" ">"}
  "not"   {"==" ">" "<>" ">" "<" ">" "<=" ">" ">" ">" ">=" ">"   "+" ">" "-" ">" "or" ">"   "*" ">" "/" ">" "div" ">" "mod" ">" "and" ">"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" ">"}

  "$"     {"==" "<" "<>" "<" "<" "<" "<=" "<" ">" "<" ">=" "<"   "+" "<" "-" "<" "or" "<"   "*" "<" "/" "<" "div" "<" "mod" "<" "and" "<"   "идент" "<" "конст" "<" "(" "<" ")" nil "not" "<"   "$" nil}}}
